* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bicubik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bicubik Regular'), url('./Bicubik.woff') format('woff');
}

#container {
    display: grid; 
    height: 100vh;
    grid-template-columns: 100%; 
    grid-template-rows: 15% 15% 55% 15%; 
    grid-template-areas: 
    "header_graphic"
    "title"
    "projects"
    "home";
    background-color: #2C3531;
}

#header_graphic {
    grid-area: header_graphic;   
    display: flex;
    justify-content: space-around;
        #triangle-down {
            grid-column: column6-start / column6-end; 
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 100px solid #D9B08C;
    }

        .parallelogram-left {
            width: 50px;
            height: 100px;
            transform: skew(27deg);
            background: #116466;
        }

        #parallelogram-left-first {
           margin-left: 25px;
        }

        .parallelogram-right {
            width: 50px;
            height: 100px;
            transform: skew(-27deg);
            background: #116466;
        }

        #parallelogram-right-first {
            margin-right: 25px;
         }
}

a {
    text-decoration: none;
}

#title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 2em;
    color: #d1e8e2; 
}

#projects {
    display: grid;
    justify-self: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "one   two"
    "three four";
}

#one {
    grid-area: one;
    align-self: center;
    justify-self: center;
    width: 100%
  }

#two {
    grid-area: two;
    justify-self: center;
    align-self: center;
    width: 100%
}

#three {
    grid-area: three;
    justify-self: center;
    align-self: center;
    width: 100%
}

#four {
    grid-area: four;
    justify-self: center;
    align-self: center;
    width: 100%
}

.popup .image {
  height: 90%;
  width: 100%;
}

.button {
    display: flex;
    font-size: 1em;
    justify-content: center;
    font-family: 'Bicubik Regular';
    padding: 53px 0px 53px 0px;
    color: #d1e8e2;
    margin: 5%;
    border: 15px solid #D9B08C;
    border-radius: 30px/10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
  background: silver;
  color: black; 
}

  .overlay {
    position: fixed;
    margin: 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 5% auto;
    padding: 20px;
    background: rgb(88, 85, 83);
    border-radius: 5px;
    width: 80%;
    height: 80%;
    transition: all 4s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 5%;
    color: #d1e8e2;
    font-family: 'Courier Prime', monospace;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #D9B08C;
  }

#home {
    grid-area: home;
    display: flex;
    justify-self: center;
    align-self: start;
    height: 80%;
    width: 50%;

    a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .triangle-left {
        border-top: 15px solid transparent;
        border-right: 25px solid #D9B08C;
        border-bottom: 15px solid transparent;
        margin: 0;
    }

    span {
        color: #d1e8e2;
        font-family: 'Courier Prime', monospace;
        font-size: 1em;
        margin-left: 10px;
        margin-right: 4%;
    }
}
    
@media screen and (min-width: 700px){

  html {
    background-color: #2C3531;
    height: 100%;
  }

  #title {
    font-size: 4em;
}

  #container {
    display: grid; 
    grid-template-columns: 100%; 
    height: 100%;
    grid-template-rows: 15% 10% 68% 15%; 
    grid-template-areas: 
    "header_graphic"
    "title"
    "projects"
    "home";
    background-color: #2C3531;
}

  #projects {
    display: grid;
    justify-self: end;
    height: 90%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "one   two"
    "three four";
  }

  #one {
    margin-left: 10%;
    margin-right: 5%;
  }

  #two {
    margin-right: 10%;
    margin-left: 5%;
  }

  #three {
    margin-left: 10%;
    margin-right: 5%;

  }

  #four {
    margin-right: 10%;
    margin-left: 5%;
  }
  .popup{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #shrink {
    width: 50%;
  }
  .button {
    font-size: 2em;
    padding: 70px 10px 70px 10px;
    border: 30px solid #D9B08C;

      &:hover {
      background: #116466;
      color: #d1e8e2;
  }
}

  #home {
    padding: 20px;
    width: 100%; 
    height: 30%;
    display: flex;
    align-items: start;
      &:hover {
      background-color: #116466;
      } 

    .triangle-left {
        border-top: 20px solid transparent;
        border-right: 30px solid #D9B08C;
        border-bottom: 20px solid transparent;
    }

    span {
        font-size: 1.5em;
    }
}

  .popup .image {
    height: 80%;
    width: 70%;
  }
}

