* {
  margin: 0;
}

@font-face {
  font-family: 'Bicubik Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bicubik Regular"), url("./Bicubik.woff") format("woff");
}

#container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 15% 10% 68% 15%;
      grid-template-rows: 15% 10% 68% 15%;
      grid-template-areas: "header_graphic" "title" "holder" "home";
  background-color: #1A1A1D;
}

#header_graphic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header_graphic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header_graphic #triangle-down {
  grid-column: column6-start / column6-end;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #950740;
}

#header_graphic .parallelogram-left {
  width: 50px;
  height: 100px;
  -webkit-transform: skew(27deg);
          transform: skew(27deg);
  background: #4E4E50;
}

#header_graphic #parallelogram-left-first {
  margin-left: 25px;
}

#header_graphic .parallelogram-right {
  width: 50px;
  height: 100px;
  -webkit-transform: skew(-27deg);
          transform: skew(-27deg);
  background: #4E4E50;
}

#header_graphic #parallelogram-right-first {
  margin-right: 25px;
}

a {
  text-decoration: none;
}

a span {
  color: #C3073F;
}

#title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Tomorrow', sans-serif;
  font-size: 2em;
  color: #C3073F;
}

#holder {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: holder;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "facebook" "linkedin" "github" "twitter";
}

#holder #fb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: facebook;
}

#holder #li {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: linkedin;
}

#holder #gh {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: github;
}

#holder #tw {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: twitter;
}

#holder .grouped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 5%;
  padding-right: 5%;
}

#holder .grouped span {
  padding-right: 10%;
  font-family: 'Tomorrow', sans-serif;
}

#holder .button {
  border-radius: 4px;
  background-color: #4E4E50;
  border: none;
  color: #C3073F;
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
  width: 150px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#holder .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#holder .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #950740;
}

#holder .button:hover {
  background-color: #C3073F;
}

#holder .button:hover span {
  color: blue;
}

#holder .button:hover span {
  padding-right: 25px;
}

#holder .button:hover span:after {
  opacity: 1;
  right: 0;
}

.clicker {
  width: 100px;
  height: 100px;
  outline: none;
  cursor: pointer;
}

.hiddendiv {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87%;
  width: 50%;
  margin-left: 8%;
  background-color: #950740;
  font-size: .7em;
  font-family: 'Courier Prime', monospace;
  color: #4E4E50;
}

.hiddendiv span {
  padding-left: 7px;
}

i {
  font-size: 2em;
  color: #3b5998;
  padding: 10px 0px 10px 0px;
}

.button:hover + .hiddendiv {
  -webkit-transition: 3s;
  transition: 3s;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: home;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  width: 50%;
}

#home a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .triangle-left {
  border-top: 15px solid transparent;
  border-right: 25px solid #950740;
  border-bottom: 15px solid transparent;
  margin: 0;
}

#home span {
  color: #C3073F;
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 4%;
}

@media screen and (min-width: 700px) {
  #holder .button {
    border-radius: 8px;
    color: #C3073F;
    font-size: 2em;
    width: 50%;
  }
  #title {
    font-size: 2.8em;
    padding-bottom: 2%;
  }
  .hiddendiv {
    height: 70%;
    width: 50%;
    font-size: 1em;
  }
  .hiddendiv span {
    padding-left: 50px;
  }
  #home {
    width: 100%;
  }
  #home:hover {
    background-color: #4E4E50;
  }
  #home .triangle-left {
    border-top: 20px solid transparent;
    border-right: 30px solid #950740;
    border-bottom: 20px solid transparent;
  }
  #home span {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=resources.css.map */