* {
    margin: 0;
}

@font-face {
    font-family: 'Bicubik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bicubik Regular'), url('./Bicubik.woff') format('woff');
}

#container {
    display: grid; 
    height: 100vh;
    grid-template-columns: 100%; 
    grid-template-rows: 15% 15% 55% 15%; 
    grid-template-areas: 
    "header_graphic"
    "title"
    "holder"
    "home";
    background-color: #2C3531;
}

#header_graphic {
    grid-area: header_graphic;   
    display: flex;
    justify-content: space-around;
        #triangle-down {
            grid-column: column6-start / column6-end; 
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 100px solid #D9B08C;
    }

        .parallelogram-left {
            width: 50px;
            height: 100px;
            transform: skew(27deg);
            background: #116466;
        }

        #parallelogram-left-first {
           margin-left: 25px;
        }

        .parallelogram-right {
            width: 50px;
            height: 100px;
            transform: skew(-27deg);
            background: #116466;
        }

        #parallelogram-right-first {
            margin-right: 25px;
         }
}

a {
    text-decoration: none;
}

#title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 2em;
    color: #d1e8e2; 
}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;

    #content {
        display: grid;
        grid-template-columns: 70px 70px 70px; 
        grid-template-rows: 70px 70px 70px;
        grid-template-areas: 
        ". down ."
        "right . left"
        ". up .";

        .triangle-down {
            grid-area: down;
            justify-self: center;
            align-self: center;
            width: 0;
            height: 0;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            border-top: 120px solid ;
        }
        .triangle-left {
            grid-area: left;
            justify-self: center;
            align-self: center;
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-right: 120px solid #555;
            border-bottom: 60px solid transparent;
        }
        .triangle-up {
            grid-area: up;
            justify-self: center;
            align-self: center;
            width: 0;
            height: 0;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            border-bottom: 120px solid #555;
        }
        
        .triangle-up:hover ~ .triangle-left {
                border-bottom: 120px solid red;
        }
        // .triangle-up:hover ~.triangle-left {
        //     transition: 6s;
        //     width: 0;
        //     height: 0;
        //     border-left: 40px solid transparent;
        //     border-right: 40px solid transparent;
        //     border-bottom: 1000px solid red;
        //     }

        .triangle-right {
            grid-area: right;
            justify-self: center;
            align-self: center;
            width: 0;
            height: 0;
            border-top: 60px solid transparent;
            border-left: 120px solid #555;
            border-bottom: 60px solid transparent;
        }
    }
}




#home {
    grid-area: home;
    display: flex;

    a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .triangle-left {
        border-top: 15px solid transparent;
        border-right: 25px solid rgb(238, 205, 156);
        border-bottom: 15px solid transparent;
        margin: 0;
    }

    span {
        color: #d1e8e2;
        font-family: 'Courier Prime', monospace;
        font-size: 1em;
        margin-left: 10px;
        margin-right: 4%;
    }
}

